/* Portfolio Website */

/* Universal */
html, body {
    width: 100%;
    height: 100%;
    background-color: #151127; 

}

.bg-container {
    display: grid; 

    grid-template-rows: 50px 1fr 1fr 1fr 100px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   
    gap: 3px;
    height: 100%;
    background-color: black;
    color: white;

    background-image: linear-gradient(rgb(5, 5, 40), rgba(69, 66, 100, 0.5)), url("./design/nightsky.jpg"); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}



/* nav */
.topnav {
    background-color: #151127; 
    grid-row-start: 1;
    grid-column-start: 1;

    grid-row-end: 2;
    grid-column-end: 6;
   
    overflow: hidden;
    position: relative;

}

.topnav select {
    display: none;
    float: left;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Permanent Marker', cursive;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .topnav a.active {
    background-color: #014983;
    color: white;
  }

  .topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }

/* heading */

#item-1 {

   /* background-color: #385b94; */
   grid-row-start: 2;
   grid-column-start: 1;
 
   grid-row-end: 3;
   grid-column-end: 6;
   
   place-self: center;

}

h3 {
    font-family: 'Permanent Marker', cursive;
}

/* project accordion */

#item-2 {

   /* background-color: #d0d9e6; */
   grid-row-start: 3;
   grid-column-start: 2;

   grid-row-end: 4;
   grid-column-end: 5;
   place-self: center;
   font-family: 'Joan', serif;
  
}

#img-to-flip {
    width: 100px;
    height: 100px;
}

#item-2 .accordion-button {
  
    font-family: 'Permanent Marker', cursive;
}

/* gitHub blurb */

#item-3 {

    /* background-color: #d0d9e6; */
    grid-row-start: 4;
    grid-column-start: 1;
 
    grid-row-end: 5;
    grid-column-end: 6;
    place-self: center;
    font-family: 'Joan', serif;
   
 }



/* footer */
#item-4 {

   background-color: #151127; 
   grid-row-start: 5;
   grid-column-start: 1;

   grid-row-end: 6;
   grid-column-end: 6;
   display: flex;
   flex-direction: row;
   align-items: center;
   
}

footer {
    font-family: 'Joan', serif;
    flex-flow: row wrap;
    left: 0px;
    bottom: 0;
    width: 100%;
}

footer img {
    width: auto;
    height: 100%;
    float: left;
    padding-left: 30px;
    opacity: .7;
 
}


footer h3 {
    font-family: 'Dancing Script', cursive;
    font-size: 2.5em;
    opacity: .8;
    padding-right: 50%;
    width: 80px;
    align-self: baseline;
    height: auto;

}


footer li {
    display: inline;
    text-align: right;
    list-style-type: none;

    justify-content: right;

    
}

footer ul {
    align-self: flex-end;
}

footer a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

 footer a:hover {
    background-color: #ddd;
    color: black;
  }

 footer a.active {
    background-color: #014983;
    color: white;
  }

/* media */

@media screen and (max-width: 600px) {
    .topnav a {
        display: none;
    }
    .topnav select { 
        display: inline-block; 
    }
  }
  .bg-container {
      height: 1000px;
  }

