/* Portfolio Website */

/* Universal */
html, body {
    width: 100%;
    height: 100%;
    background-color: #151127; 
}
.bg-container {
    display: grid; 

    grid-template-rows: 50px 1fr 1fr 100px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   
    gap: 3px;
    height: 100%;
    background-color: black;
    color: white;

    background-image: linear-gradient(rgb(5, 5, 40), rgba(69, 66, 100, 0.5)), url("./design/nightsky.jpg"); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/* nav */
.topnav {
    background-color: #151127; 
    grid-row-start: 1;
    grid-column-start: 1;

    grid-row-end: 2;
    grid-column-end: 6;
   
    overflow: hidden;
    position: relative;

}

.topnav select {
    display: none;
    float: left;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}


.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

    font-size: 20px;
    font-family: 'Permanent Marker', cursive;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .topnav a.active {
    background-color: #014983;
    color: white;
  }

  .topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }

/* bio */

#item-1 {

   /* background-color: #385b94; */
    grid-row-start: 2;
    grid-column-start: 3;
 
    grid-row-end: 4;
    grid-column-end: 6;
   
    place-self: center;
    padding: 20px;
}

.bioHeader {
    display: flex;
    flex-wrap: wrap;
}

.bioHeader img {
    opacity: .9;
    padding: 10px;
}

.bioHeader h1 {
    align-self: flex-end;
    font-size: 50px;
}


h1 {
    font-family: 'Permanent Marker', cursive;

}

p {
    font-family: 'Joan', serif;
    font-size: 17px;
    padding-right: 10px;
    padding-top: 10px;
    text-align: justify;
}

.icons {
    grid-column: 1 / span;
    grid-row: 4 / span 1;
    grid-area: auto;
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
}



.linkedInIcon {
    background-image: url("./design/linkedinicon.webp");
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

#linkedInIcon {
    visibility: visible;
}

.linkedInIcon:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

.gitHubIcon {
    background-image: url("./design/githubicon.png");
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

#gitHubIcon {
    visibility: visible;
}

.gitHubIcon:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

.emailIcon {
    background-image: url("./design/emailicon.png");
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

#emailIcon {
    visibility: visible;
}

.emailIcon:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

/* video */
#item-2 {

   /* background-color: #d0d9e6; */
   grid-row-start: 2;
   grid-column-start: 1;

   grid-row-end: 4;
   grid-column-end: 3;
   place-self: center;
   
  
}

/* footer */
#item-3 {

   background-color: #151127; 
   grid-row-start: 4;
   grid-column-start: 1;

   grid-row-end: 5;
   grid-column-end: 6;
   display: flex;
   flex-direction: row;
   align-items: center;
   
}

footer {
    font-family: 'Joan', serif;
    flex-flow: row wrap;
    left: 0px;
    bottom: 0;
    width: 100%;
}

footer img {
    width: auto;
    height: 100%;
    float: left;
    padding-left: 30px;
    opacity: .7;
 
}


footer h3 {
    font-family: 'Dancing Script', cursive;
    font-size: 2.5em;
    opacity: .8;
    padding-right: 50%;
    width: 80px;
    align-self: baseline;
    height: auto;

}


footer li {
    display: inline;
    text-align: right;
    list-style-type: none;

    justify-content: right;

    
}

footer ul {
    align-self: flex-end;
}

footer a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

 footer a:hover {
    background-color: #ddd;
    color: black;
  }

 footer a.active {
    background-color: #014983;
    color: white;
  }

/* media */


@media screen and (max-width: 1024px) {
    .bg-container {
        display: grid;
        grid-template-rows: 50px 1fr 1fr 100px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
       
        gap: 3px;
        height: 1000px;
    }
    #item-2 {


        grid-row-start: 2;
        grid-column-start: 2;
     
        grid-row-end: 3;
        grid-column-end: 5;
        place-self: center;
        
     }

     #item-1 {


        grid-row-start: 3;
        grid-column-start: 1;
      
        grid-row-end: 4;
        grid-column-end: 6;
        
        place-self: center;
        
     }
}

@media screen and (max-width: 600px) {
    .topnav a {
        display: none;
    }
    .topnav select { 
        display: inline-block; 
    }
    .bg-container {
        height: 1200px;
    }
}