/*------------------------------------*\
    INDEX
\*------------------------------------*/

/*
GENERAL
UTILITY CLASSES
    SPACING
LAYOUT
COLORS
TYPOGRAPHY
 
COMPONENTS
	TOPBAR
    HERO
	    HERO AGILE
	    HERO GOALS
	    HERO HIRING
	    HERO METRICS
	    HERO RESEARCH
    HEADER
    BUTTONS (AGILE; METRICS; GOALS; RESEARCH; HIRING; LOA)
    QUOTES
    TIMETABLE
    ALERTS
        NEWTAB
MENU
FORMS
FOOTER
*/


/*
    * Broken window theory (The Pragmatic Programmer - David Thomas and Andrew Hunt)
*/



/*------------------------------------*\
    $GENERAL
\*------------------------------------*/
:root {

    --darkBlue: #006F74;
    --brightBlue: #00A3B4;
    --darkGreen: #575e22;
    --brightGreen: #8c9b28;
    --darkRed: #951a1d;
    --brightRed: #d52327;
    --darkPurple: #662547;
    --brightPurple: #9B0E5B;
    --orange: #9b621c;
    --darkOrange: #C14E27;
    --brightOrange: #EC621D;
    --darkYellow: #d8a739;
    --brightYellow: #FFCD5E;



    --white: #fff;
    --lightGray: #f2f2f2;
    --darkGray: #a3a3a3;
    --black: #2c2c2c;

    --bgMain: var(--brightPurple);
    --accent: var(--darkBlue);
    --accentBG: var(--darkOrange);
}

* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-family: "Source Sans Pro", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* color: rgb(47 47 47); */
    box-sizing: border-box;
}

/*------------------------------------*\
    $GENERAL
\*------------------------------------*/


/*------------------------------------*\
    $UTILITY CLASSES
\*------------------------------------*/
.sticky{
    top:5px;
    position: sticky;
}
.img-cc {
    max-width: 100%;
    display: block;
}

.no-padding {
    padding: 0;
}

.no-margin {
    padding: 0;
}

.center {
    margin: 0 auto;
}

@media only screen and (max-width: 54em) {
    .hide-on-mobile {
       display: none;
    }

}
@media only screen and (min-width: 54em) {
    .hide-on-desktop {
       display: none;
    }

}


/*------------------------------------*\
    $SPACING
\*------------------------------------*/

.px-1 {
    padding-left: 1em;
    padding-right: 1em;
}

.px-2 {
    padding-left: 2em;
    padding-right: 2em;
}

.px-3 {
    padding-left: 3em;
    padding-right: 3em;
}

.px-4 {
    padding-left: 4em;
    padding-right: 4em;
}

.px-5 {
    padding-left: 5em;
    padding-right: 5em;
}

.py-1 {
    padding-top: 1em;
    padding-bottom: 1em;
}

.py-2 {
    padding-top: 2em;
    padding-bottom: 2em;
}

.py-3 {
    padding-top: 3em;
    padding-bottom: 3em;
}

.py-4 {
    padding-top: 4em;
    padding-bottom: 4em;
}

.py-5 {
    padding-top: 5em;
    padding-bottom: 5em;
}

.pt-1 {
    padding-top: 1em;
}

.pt-2 {
    padding-top: 2em;
}

.pt-3 {
    padding-top: 3em;
}

.pt-4 {
    padding-top: 4em;
}

.pt-5 {
    padding-top: 5em;
}

.pb-1 {
    padding-bottom: 1em;
}

.pb-2 {
    padding-bottom: 2em;
}

.pb-3 {
    padding-bottom: 3em;
}

.pb-4 {
    padding-bottom: 4em;
}

.pb-5 {
    padding-bottom: 5em;
}

.pl-1 {
    padding-left: 1em;
}

.pl-2 {
    padding-left: 2em;
}

.pl-3 {
    padding-left: 3em;
}

.pl-4 {
    padding-left: 4em;
}

.pl-5 {
    padding-left: 5em;
}

.pr-1 {
    padding-right: 1em;
}

.pr-2 {
    padding-right: 2em;
}

.pr-3 {
    padding-right: 3em;
}

.pr-4 {
    padding-right: 4em;
}

.pr-5 {
    padding-right: 5em;
}



/*------------------------------------*\
            END $SPACING
        \*------------------------------------*/

/*------------------------------------*\
    END $UTILITY CLASSES
\*------------------------------------*/


/*------------------------------------*\
    $LAYOUT
    Break Points: 54em; 
\*------------------------------------*/
.container-cc {
    width: 85%;
    max-width: 66em;
    margin: 0 auto;
}

.column {
    padding: 1em;
}

.column:not(:last-child) {
    padding-right: 16px;
}


.split {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-items: center;
    justify-content: center;
    justify-content: space-between;

}

.flex {
    display: flex;
}

.basis20 {
    flex-basis: 20%;
}

.basis25 {
    flex-basis: 25%;
}

.basis30 {
    flex-basis: 30%;
}

.basis33 {
    flex-basis: 33.33%;
}

.basis40 {
    flex-basis: 40%;
}

.basis50 {
    flex-basis: 50%;
}

.basis60 {
    flex-basis: 60%;
}

.basis70 {
    flex-basis: 70%;
}

.basis80 {
    flex-basis: 80%;
}

.basis100 {
    flex-basis: 100%;
}

.headline {
    flex-basis: 100%;
}

.max-20em {
    max-width: 20em;
}

.max-10em {
    max-width: 10em;
}

.image-left {
    margin-right: auto;
}

.image-right {
    margin-left: auto;
}

@media only screen and (max-width: 54em) {

    .image-left,
    .image-right {
        margin-right: auto;
        margin-left: auto;
    }

    body {
        min-width: 100% !important;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 54em) {
    .split {
        flex-direction: column;
    }

    .column:not(:last-child) {
        padding-right: 0px;
    }

    .column:last-child {
        margin-bottom: 1em;
    }

    .column:first-child {
        margin-top: 1em;
    }

    .column {
        padding: 0em;
    }

    .basis20,
    .basis25,
    .basis30,
    .basis40,
    .basis50,
    .basis60,
    .basis80 {
        flex-basis: 100%;
        margin: 0 auto;
        max-width: 30em;
    }

    .m-width-300 {
        max-width: 300px;
    }

    .m-width-200 {
        max-width: 200px;
    }
    .no-padding-right-on-mobile {
        padding-right: 0px;
    }
}


/*------------------------------------*\
    $Colors
\*------------------------------------*/

.bg-darkRed {
    background-color: var(--darkRed);
}

.bg-brightRed {
    background-color: var(--brightRed);
}

.bg-darkBlue {
    background-color: var(--darkBlue);
}

.bg-brightBlue {
    background-color: var(--brightBlue);
}


.bg-darkGreen {
    background-color: var(--darkGreen);
}

.bg-brightGreen {
    background-color: var(--brightGreen);
}

.bg-orange {
    background-color: var(--orange);
}

.bg-brightOrange {
    background-color: var(--brightOrange);
}

.bg-darkOrange {
    background-color: var(--darkOrange);
}

.bg-darkYellow {
    background-color: var(--darkYellow);
}

.bg-brightYellow {
    background-color: var(--brightYellow);
}

.bg-darkPurple {
    background-color: var(--darkPurple);
}

.bg-brightPurple {
    background-color: var(--brightPurple);
}


.bg-main {
    background-color: var(--main);
}

.bg-white {
    background-color: var(--white);
}


.bg-lightGray {
    background-color: var(--lightGray);
}

.bg-darkGray {
    background-color: var(--darkGray);
}

.bg-white {
    background-color: var(--white);
}

.bg-black {
    background-color: var(--black);
}






/*------------------------------------*\
    $TYPOGRAPHY
\*------------------------------------*/
p,
li {
    font-family: "Source Sans Pro", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 1.5;
}

ul,
ol {
    /* display: block; */
    margin-block-start: 0em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 50px;
    list-style-position: inside;
    padding: 5px 20px;
}
ul{
    list-style: square inside;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Source Sans Pro", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    line-height: 1.1;
}


h1 {
    font-size: 2.5em;
    padding-bottom: 20px;
    font-weight: 700;
    line-height: 1.2;
}


h2 {
    font-size: 2em;
    padding-bottom: 10px;
    font-weight: 700;
    line-height: 1.2;
}

h3 {
    font-size: 1.5em;
    padding-top: 20px;
    padding-bottom: 10px;
    font-weight: 600;
    line-height: 1.2;
}

h4 {
    font-size: 1.2em;
    padding-top: 20px;
    padding-bottom: 10px;
    font-weight: 700;
    line-height: 1.2;
}

.font
p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.text-white {
    color: var(--white);
}


/*------------------------------------*\
    END $TYPOGRAPHY
\*------------------------------------*/


/*------------------------------------*\
    $COMPONENTS
\*------------------------------------*/


/*------------------------------------*\
    $TOPBAR
\*------------------------------------*/

#header .topbar {
    /* padding: 35px 20px; */
    padding: 5px 0px; 
    display: flex;
    justify-content: space-between;
}

#header .topbar img {
    max-width: 210px;
    width: 100%;
    height: auto;
}

.head-logo{
    margin-top:0.35rem;
    margin-bottom: 0.35rem;
}

@media screen and (max-width: 27em) {
    #header .btn {
        font-size: 0.75rem !important;
    }

    #header .topbar img {
        width: 100%;
        height: 100%;
        max-height: 35px;
    }
}


/*------------------------------------*\
    $END TOPBAR
\*------------------------------------*/



/*------------------------------------*\
    $HERO
\*------------------------------------*/

.hero-research {
    background: var(--darkOrange) url("images/hero/research-hero-bg.png") no-repeat;
    background-size: cover;
}

.hero-goals {
    background: var(--brightGreen) url("images/hero/goals-hero-bg.png") no-repeat;
    background-size: cover;
}

.hero-agile {
    background: var(--brightYellow) url("images/hero/agile-hero-bg.png") no-repeat;
    background-size: cover;
}

.hero-metrics {
    background: var(--darkPurple) url("images/hero/metrics-hero-bg.png") no-repeat;
    background-size: cover;
}

.hero-hiring {
    background: var(--darkPurple) url("images/hero/hiring-hero-bg.png") no-repeat;
    background-size: cover;
}


.hero-community {
    background: var(--brightBlue) url("images/hero/.png") no-repeat;
    background-size: cover;
}


/*------------------------------------*\
    $END HERO
\*------------------------------------*/

/*------------------------------------*\
    $PRICING BOX
\*------------------------------------*/

.pricing-box {
    position: relative;
}

.box-pricing {
    display: block;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

.pricing-box .box-head {
    min-height: 106px;
}

.pricing-box .box-content {
    margin: 1.5em 0;
    padding-bottom: 50px;
    padding-top: 10px;
    border-top: 1px rgb(192, 189, 192) solid;
    display: block;
}

.pricing-box .btn {
    max-width: 100%;
    bottom: 0;
    left: 0.8em;
    right: 0.8em;
    margin-bottom: 2em;
    position: absolute;
}

/*------------------------------------*\
    $END PRICING BOX
\*------------------------------------*/

/*------------------------------------*\
    $BUTTON
\*------------------------------------*/

.btn {
    display: inline-block;
    text-decoration: none;
    color: var(--buttonTextColor, #fff);
    max-width: 10em;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.125rem;
    padding: 0.6em 2em;
    background: var(--accent, black);
    -webkit-transition: opacity 250ms linear, -webkit-transform 250ms ease-in-out;
    transition: opacity 250ms linear, -webkit-transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out, opacity 250ms linear;
    transition: transform 250ms ease-in-out, opacity 250ms linear, -webkit-transform 250ms ease-in-out;
    margin: 0.35em;
}

.btn:hover,
.btn:focus {
    cursor: pointer;
    opacity: 0.9;
}

.btn-fill {
    max-width: 100%;
    display: block;
}

.btn-purple {
    color: var(--white);
    background-color: var(--brightPurple);
}

.btn-purple:hover {
    color: var(--white);
    background-color: var(--darkPurple);
}

.btn-yellow {
    color: var(--dark);
    background-color: var(--brightYellow);
}

.btn-yellow:hover {
    color: var(--dark);
    background-color: var(--darkYellow);
}

.btn-blue {
    color: var(--white);
    background-color: var(--brightBlue);
}

.btn-blue:hover {
    color: var(--white);
    background-color: var(--darkBlue);
}

.btn-orange {
    color: var(--white);
    background-color: var(--brightOrange);
}

.btn-orange:hover {
    color: var(--white);
    background-color: var(--darkOrange);
}

.btn-green {
    color: var(--white);
    background-color: var(--brightGreen);
}

.btn-green:hover {
    color: var(--white);
    background-color: var(--darkGreen);
}

.btn-white {
    color: var(--buttonTextColor);
    background-color: var(--white);
}


.btn-shadow {
    box-shadow: 1px 1px 0px 0px rgb(8 8 8), -1px -1px 0px 0px rgb(8 8 8), 1px -1px 0px 0px rgb(0 0 0), -1px 1px 0px 0px rgb(0 0 0), -6px 6px 0px 0px rgb(0 0 0);
    -webkit-box-shadow: 1px 1px 0px 0px rgb(8 8 8), -1px -1px 0px 0px rgb(8 8 8), 1px -1px 0px 0px rgb(0 0 0), -1px 1px 0px 0px rgb(0 0 0), -6px 6px 0px 0px rgb(0 0 0);
    -moz-box-shadow: 1px 1px 0px 0px rgb(8, 8, 8), -1px -1px 0px 0px rgb(8, 8, 8), 1px -1px 0px 0px rgb(0, 0, 0), -1px 1px 0px 0px rgb(0, 0, 0), -6px 6px 0px 0px rgba(0, 0, 0, 1);
    position: relative;
}


.btn-shadow:hover {
    box-shadow: 1px 1px 0px 0px rgb(8, 8, 8), -1px -1px 0px 0px rgb(8, 8, 8), 1px -1px 0px 0px rgb(0, 0, 0), -1px 1px 0px 0px rgb(0, 0, 0), -3px 3px 0px 0px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 1px 1px 0px 0px rgb(8, 8, 8), -1px -1px 0px 0px rgb(8, 8, 8), 1px -1px 0px 0px rgb(0, 0, 0), -1px 1px 0px 0px rgb(0, 0, 0), -3px 3px 0px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 1px 1px 0px 0px rgb(8, 8, 8), -1px -1px 0px 0px rgb(8, 8, 8), 1px -1px 0px 0px rgb(0, 0, 0), -1px 1px 0px 0px rgb(0, 0, 0), -3px 3px 0px 0px rgba(0, 0, 0, 1);
    top: 3px;
    left: -3px;}


/*------------------------------------*\
        $ BUTTONS METRICS 2023 
\*------------------------------------*/

.btn-cartoon-shadow {
    box-shadow: 0px 0px 0px 4px rgb(8 8 8), -1px -1px 0px 0px rgb(8 8 8),
        1px -1px 0px 0px rgb(0 0 0), -1px 1px 0px 0px rgb(0 0 0),
        -8px 8px 0px 0px rgb(0 0 0);
    -webkit-box-shadow: 0px 0px 0px 4px rgb(8 8 8), -1px -1px 0px 0px rgb(8 8 8),
        1px -1px 0px 0px rgb(0 0 0), -1px 1px 0px 0px rgb(0 0 0),
        -8px 8px 0px 0px rgb(0 0 0);
    -moz-box-shadow: 0px 0px 0px 4px rgb(8, 8, 8), -1px -1px 0px 0px rgb(8, 8, 8),
        1px -1px 0px 0px rgb(0, 0, 0), -1px 1px 0px 0px rgb(0, 0, 0),
        -8px 8px 0px 0px rgba(0, 0, 0, 1);
    position: relative;
}

.btn-cartoon-shadow:hover {
    box-shadow: 0px 0px 0px 4px rgb(8 8 8), -1px -1px 0px 0px rgb(8 8 8),
        1px -1px 0px 0px rgb(0 0 0), -1px 1px 0px 0px rgb(0 0 0),
        -5px 6px 0px 0px rgb(0 0 0);
    -webkit-box-shadow: 0px 0px 0px 4px rgb(8 8 8), -1px -1px 0px 0px rgb(8 8 8),
        1px -1px 0px 0px rgb(0 0 0), -1px 1px 0px 0px rgb(0 0 0),
        -5px 6px 0px 0px rgb(0 0 0);
    -moz-box-shadow: 0px 0px 0px 4px rgb(8, 8, 8), -1px -1px 0px 0px rgb(8, 8, 8),
        1px -1px 0px 0px rgb(0, 0, 0), -1px 1px 0px 0px rgb(0, 0, 0),
        -5px 6px 0px 0px rgba(0, 0, 0, 1);
    bottom: -2px;
    left: -3px;
}

.btn-cartoon-shadow-yellow {
    border: 5px solid black;
    box-shadow: -8px 8px 0px 0px rgb(220 152 40);
    -webkit-box-shadow: -8px 8px 0px 0px rgb(220 152 40);
    -moz-box-shadow: -8px 8px 0px 0px rgb(220, 152, 40);
    position: relative;
}

.btn-cartoon-shadow-yellow:hover {
    box-shadow: -5px 6px 0px 0px rgb(220 152 40);
    -webkit-box-shadow: -5px 6px 0px 0px rgb(220 152 40);
    -moz-box-shadow: -5px 6px 0px 0px rgba(220, 152, 40, 1);
    bottom: -2px;
    left: -3px;
}

.btn-cartoon-shadow-blue {
    border: 5px solid black;
    box-shadow: -8px 8px 0px 0px rgb(0 163 180);
    -webkit-box-shadow: -8px 8px 0px 0px rgb(0 163 180);
    -moz-box-shadow: -8px 8px 0px 0px rgb(0, 163, 180);
    position: block;
}

.btn-cartoon-shadow-blue:hover {
    box-shadow: -5px 6px 0px 0px rgb(0 163 180);
    -webkit-box-shadow: -5px 6px 0px 0px rgb(0 163 180);
    -moz-box-shadow: -5px 6px 0px 0px rgba(0, 163, 180, 1);
    bottom: -2px;
    left: -3px;
}

.btn-cartoon-shadow-purple {
    border: 5px solid black;
    box-shadow: -8px 8px 0px 0px rgb(155 14 91);
    -webkit-box-shadow: -8px 8px 0px 0px rgb(155 14 91);
    -moz-box-shadow: -8px 8px 0px 0px rgb(155, 14, 91);
    position: relative;
}

.btn-cartoon-shadow-purple:hover {
    box-shadow: -5px 6px 0px 0px rgb(155 14 91);
    -webkit-box-shadow: -5px 6px 0px 0px rgb(155 14 91);
    -moz-box-shadow: -5px 6px 0px 0px rgba(155, 14, 91, 1);
    bottom: -2px;
    left: -3px;
}

/*------------------------------------*\
        $ END BUTTONS METRICS 2023 
\*------------------------------------*/

.btn-agile {
    color: var(--white);
    background-color: var(--black);
}

.btn-agile:hover {
    color: var(--black) !important;
    background-color: var(--brightYellow);
}

.btn-goals-cta {
    color: var(--darkGreen);
    background-color: rgb(239, 241, 239);
}

.btn-goals-cta:hover {
    color: var(--white);
    background-color: var(--darkGreen);
}

.btn-metrics-cta {
    color: var(--darkPurple);
    background-color: rgb(241, 239, 239);
    border: 1px transparent solid;
}

.btn-metrics-cta:hover {
    color: var(--white);
    background-color: var(--brightPurple) !important;
    border: 1px solid white;
    box-shadow: 2px 2px 10px 1px #380b1d66;
}


.btn-hiring-cta {
    color: var(--darkOrange);
    background-color: rgb(241, 239, 239);
    border: 1px transparent solid;
}

.btn-hiring-cta:hover {
    color: var(--white);
    background-color: var(--brightOrange) !important;
    border: 1px solid white;
    box-shadow: 2px 2px 10px 1px #380b1d66;
}

.btn-goals {
    font-family: "Source Sans Pro", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: var(--black) !important;
    background-color: white;
    transition: background-color 0.24s ease;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 1px 1px 0px 0px rgb(8 8 8), -1px -1px 0px 0px rgb(8 8 8), 1px -1px 0px 0px rgb(0 0 0), -1px 1px 0px 0px rgb(0 0 0), -6px 6px 0px 0px rgb(0 0 0);
    -webkit-box-shadow: 1px 1px 0px 0px rgb(8 8 8), -1px -1px 0px 0px rgb(8 8 8), 1px -1px 0px 0px rgb(0 0 0), -1px 1px 0px 0px rgb(0 0 0), -6px 6px 0px 0px rgb(0 0 0);
    -moz-box-shadow: 1px 1px 0px 0px rgb(8, 8, 8), -1px -1px 0px 0px rgb(8, 8, 8), 1px -1px 0px 0px rgb(0, 0, 0), -1px 1px 0px 0px rgb(0, 0, 0), -6px 6px 0px 0px rgba(0, 0, 0, 1);
    position: relative;
}

.btn-goals:hover {
    background-color: rgb(242, 245, 234);
    ;
    box-shadow: 1px 1px 0px 0px rgb(8, 8, 8), -1px -1px 0px 0px rgb(8, 8, 8), 1px -1px 0px 0px rgb(0, 0, 0), -1px 1px 0px 0px rgb(0, 0, 0), -3px 3px 0px 0px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 1px 1px 0px 0px rgb(8, 8, 8), -1px -1px 0px 0px rgb(8, 8, 8), 1px -1px 0px 0px rgb(0, 0, 0), -1px 1px 0px 0px rgb(0, 0, 0), -3px 3px 0px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 1px 1px 0px 0px rgb(8, 8, 8), -1px -1px 0px 0px rgb(8, 8, 8), 1px -1px 0px 0px rgb(0, 0, 0), -1px 1px 0px 0px rgb(0, 0, 0), -3px 3px 0px 0px rgba(0, 0, 0, 1);
    top: 2px;
    left: -3px;
}

/*------------------------------------*\
     END   $BUTTON
\*------------------------------------*/



/*
----------------------------
START TESTIMONIALS
----------------------------
*/
.testimonial-quote {
    margin-right: 20px;
    margin-bottom: 40px;
    flex-basis: 30%;
}

.testimonial-quote:last-of-type {
    margin-right: 0px;
}

@media only screen and (max-width: 700px) {
    .testimonial-quote {
        flex-basis: 100%;
        margin-right: 0px !important;
    }
}

.testimonial-quote .emph {
    color: var(--darkPurple);
    color: black;
    font-weight: bold;
}

.testimonial-quote-bg:before {
    font-family: Helvetica, 'Arial', Times, serif;
    content: '"';
    font-weight: 900;
    width: 60px;
    height: 15px;
    line-height: 60px;
    background: #fff;
    text-align: center;
    font-size: 80px;
    color: var(--accent);
    position: absolute;
    top: -15px;
    left: 4%;
}



.testimonial-quote-bg {
    border-top: 5px solid var(--accent);
    border-bottom: 5px solid var(--accent);
    background-color: white;
    text-align: left;
    position: relative;
    /* background-image: url("puxm-images/white-bg.png"); */
    background-size: cover;
}

.testimonial-quote-inside {
    padding: 20px;
}

/*
END TESTIMONIALS
*/



/*------------------------------------*\
     END   $NEWTAB
\*------------------------------------*/
.newtab {
    background-color: var(--accent);
    color: white;
    padding: 5px 8px;
    font-weight: 600;
}

/*------------------------------------*\
     END   $NEWTAB
\*------------------------------------*/


/*------------------------------------*\
    $FOOTER
\*------------------------------------*/

* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-family: "Source Sans Pro", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

footer {
    display: block;
}

footer img {
    padding: 0;
}

.gray-bg {
    background-color: var(--lightgrey);
}

.black-bg {
    background-color: var(--black);
}

.contr {
    max-width: 66em;
    margin: 0 auto;
}

.txt-cente, .text-center {
    text-align: center;
}

.margin-for-testing {
    margin-top: 200px;
}

.ft-mk .ft-logo {
    max-width: 340px;
}

.ft-mk p {
    font-size: 17px;
}

.img-resp {
    width: 100%;
    height: auto;
    display: block;
}

.footer-padding {
    padding: 20px 20px 20px 20px;
}

.emulated-flex-gap p {
    font-size: 17px;
}

.emulated-flex-gap {
    --gap: 20px;
    display: inline-flex;
    flex-wrap: wrap;
    margin: calc(-1 * var(--gap)) 0 0 calc(-1 * var(--gap));
    width: calc(100% + var(--gap));
    margin-top: 20px;
}

.emulated-flex-gap div {
    flex-basis: calc(33% - var(--gap));
}

.emulated-flex-gap>* {
    margin: var(--gap) 0 0 var(--gap);
}

@media only screen and (max-width: 625px) {
    .ft-mk {
        justify-content: flex-end;
    }

    .ft-mk .b2 {
        flex-basis: calc(50% - var(--gap)) !important;
    }

    .ft-mk .c1 {
        align-self: flex-end !important;
        flex-basis: 100% !important;
    }
}

@media only screen and (max-width: 500px) {
    .ft-mk .b2 {
        flex-basis: 100% !important;
    }

    .ft-mk .c1 {
        flex-basis: 100% !important;
    }
}

@media only screen and (max-width: 400px) {
    .footer-notice :not(:first-child):not(:last-child) {
        padding-top: 0px;
        padding-bottom: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

.footer-notice {
    display: flex;
    flex-wrap: wrap-reverse;
    /* padding: 20px 20px; */
    justify-content: space-between;
    color: rgb(82, 82, 82);
    font-size: 14px;
}

.footer-notice-add {
    padding: 10px 20px;
}

.footer-notice span {
    margin-right: 30px;
    margin: 20px;
}

.footer-notice span a {
    color: rgb(82, 82, 82);
    font-weight: 500;
}

.line-ft {
    /* margin: 0 20px;  */
    border-top: 1px solid rgb(204, 204, 204);
}

.light-footer {
    background-color: var(--lightgrey);
}

.dark-footer {
    background-color: var(--black);
}

.light-footer .white-logo {
    display: none;
}

.dark-footer .black-logo {
    display: none;
}

.dark-footer p {
    color: #e9e9e9;
}

.dark-footer .footer-notice {
    color: #bebebe;
}

.dark-footer .footer-notice a {
    color: #bebebe;
}

.dark-footer .line-ft {
    border: none;
    border-top: 1px solid rgb(115 115 115);
}


/*------------------------------------*\
   END $FOOTER
\*------------------------------------*/